@model DashboardViewModel
<h2>Recent Secrets</h2>
@foreach(var secret in Model.RecentSecrets)
{
    if(secret.UserId == Model.ActiveUserId)
    {
        <p>@secret.Content (@secret.CreatedAt.ToString("d")) @secret.Likes.Count() likes | <a href="/secret/delete/@secret.SecretId">DELETE</a></p>
    }
    else if(secret.Likes.Any(l => l.UserId == Model.ActiveUserId))
    {
        <p>@secret.Content (@secret.CreatedAt.ToString("d")) @secret.Likes.Count() likes | YOU LIKED THIS</p>
    }
    else
    {
        <p>@secret.Content (@secret.CreatedAt.ToString("d")) @secret.Likes.Count() likes | <a href="/secret/like/@secret.SecretId">LIKE</a></p>
    }
}